<h1>Choose Jon's Haircut</h1>

<section class="intro">
  <p>In an attempt to raise some money for East to West I foolishly said that I was going to
  shave my head. And then I doubled down on that, and said that if the donations got to £250
  then I'd let people choose my hairstyle.</p>
  <p>Well... they got to £250. Hooray.</p>
  <p>Below are 5 hairstyles, all of which I'd really rather not be wearing for the next month. Pick my poison. And donate more money!</p>
</section>

<form method="post" action="/vote" class="form">
  <% [ "Padawan", "Mohawk", "Cueball", "Inverse Mohawk", "Smiley" ].each do |style| %>
    <div class="span2" style="text-align: center">
      <label>
        <img src="/assets/<%= style.downcase.gsub(" ", "_") %>.jpg" /><br /><br />
        The <%= style %><br />
        <input type="radio" name="answer" value="<%= style %>" />
      </label>
    </div>
  <% end %>

  <div class="span3 offset3">
   <button type="submit" class="btn btn-primary btn-vote" style="">Vote!</button>
  </div>
</form>
